.titre {
    color: red; font-size: 50px; text-align: center;
}

#conteneur {
          display: flex;
          flex-direction: row;
          justify-content:right;
          align-items:flex-end;
    
}

img 
{
	float: right;
	border: 1px solid black;
	box-shadow: 2px 2px 2px black;
}





